{{#each message}}
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            {{#if this.message.idUser.avatar}}
                <img src="data:image/jpg;base64,{{this.message.idUser.avatar}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            {{else}}
                <img src="/images/avatarDef.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            {{/if}}

          <span class="w3-right w3-opacity">{{this.dateCompare}}</span>
          <h4>{{this.message.idUser.name}}</h4><br>
          <hr class="w3-clear">
          <p>{{{this.message.text}}}</p>
            <div class="w3-row-padding" style="margin:0 -16px">
              {{#if this.message.image}}
                <div class="w3-half">
                  <img src="data:image/jpg;base64,{{this.message.image}}" style="width:100%" class="w3-margin-bottom borderRadius15px">
                </div>
              {{/if}}
          </div>
          <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>  
  </div>
{{/each}}