{{#each users}}
    <div class="w3-card w3-round w3-white w3-col m3 margin ">
        <div class="w3-container" >
            <div class="center"><a id={{this.user._id}} href="#" class="w3-center" onclick="perfilPerson(this.id)">{{this.user.name}}</a></div>
            <p class="w3-center">
                {{#if this.avatar}}
                     <img src="data:image/jpg;base64,{{this.user.avatar}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"/>
                {{else}}
                    <img src="/images/avatarDef.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                {{/if}}           
            </p>

            <hr>
            <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{this.user.mood}}</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{this.user.city}},{{this.user.country}}</p>
            <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{this.user.mood}}</p>
            {{#if this.isFriend}}
                <p><button id="{{this.user._id}}"class="btn btn-primary fontiSize10px" onclick="removeFriend(this.id)";>Borrar Amigos</button></p>
            {{else}}
                <p><button id="{{this.user._id}}"class="btn btn-primary fontiSize10px" onclick="addFriendPeding(this.id)";>Añadir Amigos</button></p>
            {{/if}}
        </div>
    </div>            
{{/each}}