<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/vistaPrincipal" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i></a>
  <a href="/vistaBuscar" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Buscar"><i class="fa fa-globe"></i></a>
  <a href="/vistaUpdate" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Ajustes"><i class="fa fa-user"></i></a>
  <div id="not" class="w3-dropdown-hover w3-hide-small">
  </div>
  <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Cerrar Sesión">
    <!--<img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">-->
     <i class="fa fa-sign-out" aria-hidden="true"></i>
  </a>
 </div>
</div>

<!-- Navbar on small screens -->
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container paddingtop20">
          <p class="w3-center">
              {{#if user.avatar}}
                  <img src="data:image/jpg;base64,{{user.avatar}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"/>
              {{else}}
                  <img src="/images/avatarDef.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"/>
              {{/if}} 
          </p>
           <div class="center"><h3>{{user.name}}</h3></div>
          <br>
            {{#if friend}}
              <p><button id="{{this.user._id}}" class="w3-button w3-theme-d1 w3-margin-bottom fontiSize10px" onclick="removeFriend(this.id)";><i class="fa fa-remove" style="margin-right: 10px"></i>Borrar Amigos</button></p>
            {{else}}
              <p><button id="{{this.user._id}}" class="w3-button w3-theme-d1 w3-margin-bottom fontiSize10px" onclick="addFriendPeding(this.id)";><i class="fa fa-user-plus" style="margin-right: 10px"></i>Añadir Amigos</button></p>
            {{/if}}
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{{user.mood}}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{user.city}},{{user.country}}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{date}}</p>
        </div>
      </div>
      <br>
      
      
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            {{#each user.interests}}
                 <span class="w3-tag w3-small w3-theme-d5">{{this}}</span>
            {{/each}}
            <!--
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
            -->
          </p>
        </div>
      </div>
      <br>
      
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7" style="margin-top: -15px;">
      <div class="messageHidden" id="messageHidden"></div>
      <div id="messages"></div>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>